.NavbarRight-container {
  display: flex;
  flex-direction: row;
  margin-right: var(--m);
  align-items: center;
}

.NavbarRight-container .ant-menu.ant-menu-dark.NavbarRight-menu {
  display: flex;
  flex-direction: row;
  padding-right: var(--m);
  background-color: transparent;
}

.NavbarRight-container .NavbarRight-menuItem {
  font-weight: 400;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

/* Antd specificity getting ridiculous here */
.ant-menu-submenu-popup > .ant-menu {
  background-color: var(--darker-night) !important;
}

.NavbarRight-container .NavbarRight-menuItem:hover {
  background: var(--gts-orange);
  color: var(--white);
  transition: background linear 0.1s;
}

.NavbarRight-container .NavbarRight-menu .NavbarRight-menuText {
  font-weight: 400;
  color: var(--greyts);
  text-transform: uppercase;
}

.NavbarRight-container .NavbarRight-menu .NavbarRight-menuText.active {
  font-weight: 800;
  color: var(--gts-orange);
}

button.ant-btn.login {
  padding-left: 32px;
  padding-right: 32px;
  border-width: 2px;
  border-color: transparent;
  border-radius: 4px;
  height: 44px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--dark-night);
}

button.ant-btn.login:hover {
  color: var(--dark-night);
  background-color: white;
}

button.ant-btn.login:active {
  color: black;
  background-color: var(--greyts);
}
