.NavbarRight-container {
  display: flex;
  flex-direction: row;
  margin-right: var(--m);
  align-items: center;
}

.NavbarRight-menu {
  display: flex;
  flex-direction: row;
  padding-right: var(--m);
}

button.ant-btn.login {
  padding-left: 32px;
  padding-right: 32px;
  border-width: 2px;
  border-color: transparent;
  border-radius: 4px;
  height: 44px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--dark-night);
}

button.ant-btn.login:hover {
  color: var(--dark-night);
  background-color: white;
}

button.ant-btn.login:active {
  color: black;
  background-color: var(--greyts);
}
