@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --gts-orange: #f75c03;
  --greyts: #b5c8d6;
  --onyx: #31373f;
  --night: #2e3135;
  --white: #fff;
  --bg: #f0f2f5;
  --gold: #ffc53b;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
}

html body {
  background-color: var(--bg);
  font-family: 'Red Hat Display', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

form {
  flex-grow: 1;
}

.content {
  padding: 24px 48px;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-sidebar {
  flex: 0 0 150px;
  margin-right: var(--l);
}

.u-flex-justifyCenter {
  display: flex;
  justify-content: center;
}

.u-flex-alignCenter {
  display: flex;
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-xbold {
  font-weight: 700;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-bottom-pad {
  padding-bottom: var(--s);
}

.u-no-pad {
  padding: 0;
}

/* Ant default overrides */
body {
  font-variant: normal!important;
  font-feature-settings: normal!important;
}

body .ant-card {
  font-variant: normal;
  font-feature-settings: normal;
}

body .ant-list {
  font-variant: normal;
  font-feature-settings: normal;
}

body .ant-table {
  font-variant: normal;
  font-feature-settings: normal;
}