@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap");

:root {
  --gts-orange: #f75c03;
  --greyts: #b5c8d6;
  --onyx: #31373f;
  --night: #2e3135;
  --white: #fff;
  --bg: #f0f2f5;
  --gold: #ffc53b;
  --darker-night: rgb(19, 20, 21);
  --dark-night: rgb(41, 45, 50);
  --onyx-dark: rgb(49, 55, 63);
  --greyts: rgb(181, 200, 214);
  --greyts-lighter: rgb(206, 219, 228);
  --full-white: rgb(255, 255, 255);
  --gts-orange: rgb(247, 92, 3);
  --onyx-light: rgb(56, 66, 79);

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
}

html body {
  font-family: "Red Hat Display", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
}

form {
  flex-grow: 1;
}

.content {
  padding: 24px 48px;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-sidebar {
  flex: 0 0 150px;
  margin-right: var(--l);
}

.u-flex-justifyCenter {
  display: flex;
  justify-content: center;
}

.u-flex-alignCenter {
  display: flex;
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-xbold {
  font-weight: 700;
}

.u-xxbold {
  font-weight: 900;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-bottom-pad {
  padding-bottom: var(--s);
}

.u-no-pad {
  padding: 0;
}

.u-rounded-border {
  border-radius: var(--s);
}

/* Ant default overrides */
body {
  font-variant: normal !important;
  font-feature-settings: normal !important;
}

body .ant-card {
  font-variant: normal;
  font-feature-settings: normal;
}

body .ant-list {
  font-variant: normal;
  font-feature-settings: normal;
}

body .ant-table {
  font-variant: normal;
  font-feature-settings: normal;
}

body .ant-card-bordered {
  border: 1px solid var(--darker-night);
}

body .ant-card-bordered .ant-card-cover {
  margin-left: unset;
  margin-right: unset;
}

body .ant-menu-item.ant-menu-item-selected {
  color: var(--white);
}

body .ant-menu-item.ant-menu-item-selected:hover {
  color: var(--white);
}

body .ant-input[disabled] {
  color: var(--white);
}

.u-add-tag {
  background: var(--night) !important;
}
