body .Home-content {
  padding: 0;
}

.Home-title {
  font-size: 62pt;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--night);
}

.Home-about-container {
  justify-content: center;
  display: flex;
}

.Home-about {
  font-size: 22pt;
  padding: var(--xs);
  max-width: 800px;
  font-style: italic;
}

.Home-title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  background: #E5E5E5;
  color: var(--onyx);
}

.Home-about p {
  margin-bottom: 0;
}

.Home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--night);
}