.NewTourneyHome-button-box {
  margin-top: var(--l);
  display: flex;
  width: 100%;
}

.NewTourneyHome-button-box div {
  flex: 1 1 0;
  padding-left: var(--m);
  padding-right: var(--m);
}

.NewTourneyHome-button-box .ant-btn-block {
 font-size: 13pt;
 background: var(--white);
 color: #4d358f;
 text-transform: uppercase;
}

.NewTourneyHome-button-box .ant-btn-block[disabled] {
 background: var(--white);
 color: #4d358f;
}

.NewTourneyHome-content {
  padding: 0;
}

.NewTourneyHome-bg {
  height: calc(100vh - 64px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.NewTourneyHome-title {
  font-size: 42pt;
  text-align: center;
  line-height: 1;
  margin-bottom: var(--s);
  text-transform: uppercase;
  color: #fff;
}

.NewTourneyHome-header {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.NewTourneyHome-header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000000;
  padding-bottom: 80px;
}

.NewTourneyHome-header-inner {
  display:flex;
  align-items: center;
  flex-direction: column;

}

.NewTourneyHome-description {
  max-width: 727px;
  font-size: 12pt;
  color: #fff;
  margin-bottom: var(--xl);
}

.NewTourneyHome-container {
  background-color: var(--onyx);
  padding:  var(--l); /* reduce if adding sidebar */
  display: flex;
  justify-content: center;
}

.NewTourneyHome-information {
  background-color: var(--night);
  max-width: 1200px;
  padding-left: var(--l);
  padding-right: var(--l);
  border: 2px solid #222;
}

.NewTourneyHome-sidebar {
  background-color: var(--onyx);
  margin-right: var(--l);
  flex: 0 0 300px;
}

.NewTourneyHome-sidebar-content {
  position: sticky;
  padding: var(--m);
  top: 0;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 13pt;
}

.NewTourneyHome-sidebar-header {
  font-weight: 700;
  font-size: 14pt;
  margin-bottom: var(--s);
}

.NewTourneyHome-sidebar-content span {
  line-height: 1.7;
}

.NewTourneyHome-section {
  color: var(--white);
  font-size: 12pt;
}

.NewTourneyHome-section h3 {
  color: var(--gold);
  font-size: 14pt;
  margin-bottom: var(--xs);
}

.NewTourneyHome-section h1 {
  color: var(--gts-orange);
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  margin-top: var(--xl);
  margin-bottom: var(--m);
}

.NewTourneyHome-sidebar-container {
  width: 400px;
}

.NewTourneyHome-sidebar {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
}

.NewTourneyHome-section strong {
  color: var(--gold);
}

.NewTourneyHome-edit {
  margin: var(--xl);
  text-align: middle;
}

.NewTourneyHome-back {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  opacity: 100%;
  transition: linear 0.25s;
  border-radius: 100%;
  background: var(--gts-orange);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  height: 64px;
  width: 64px;
}

.NewTourneyHome-back:hover {
  opacity: 90%;
}

.NewTourneyHome-back-hidden, .NewTourneyHome-back-hidden:hover {
  cursor: default;
  opacity: 0%;
}

.NewTourneyHome-back-icon {
  height: 48px;
  width: 48px;
  color: var(--onyx);
}

@media (max-width: 1500px) {
  .NewTourneyHome-back {
    opacity: 0;
  }
}