.Players-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--m);
}

.Players-name {
  display: flex;
  align-items: center;
}

.Players-name img {
  margin-right: 3px;
}

.Players-sort {
  font-size: 12pt;
  font-weight: bold;
  margin-right: var(--s);
}

.Players-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Players-admintool {
  margin: var(--m);
  display: flex;
}

.Players-progress {
  margin-left: var(--m);
  width: 200px;
}
