.Schedule-link {
  font-size: 14pt;
}

.Schedule-timezone {
  margin-bottom: var(--m);
}

.Schedule-filter {
  margin-top: var(--m);
}

.Schedule-player {
  display: inline-flex;
  column-gap: var(--xs);
  align-items: center;
}