.tables-container {
  display: flex;
}

.map-stats-table {
  margin-right: var(--m);
}

.table-header {
  white-space: pre;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--m);
}

.stats-settings {
  margin-bottom: var(--m);
}

.settings-button {
  margin-right: var(--m);
}

.seed-1 {
  background-color: #663333;
}

.seed-2 {
  background-color: #807040;
}

.seed-3 {
  background-color: #3b4f31;
}

.seed-4 {
  background-color: #364d63;
}
