.TourneyStaff-admintool {
  margin: var(--m) 0;
  display: flex;
}

.TourneyStaff-admintool > * {
  margin: 0 var(--s);
  display: flex;
}

.TourneyStaff-container {
  display: flex;
  flex-wrap: wrap;
}
