.LoginButton-button {
  color: #f75c03;
  font-weight: bold;
}

@keyframes circle {
  0% {
    border: 2px solid #f75c03;
  }
  50% {
    border: 6px solid red;
  }
  100% {
    border: 2px solid #f75c03;
  }
}
