.Navbar-avatar {
  float: right;

  /* todo: eventually pfp will be clickable to show registration status, etc */
  cursor: default !important;
}

.Navbar-avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 1px black);
}
