.Navbar-avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 1px var(--darker-night));
}

.Navbar-avatar img:hover {
  box-shadow: 0 0 12px rgba(209, 211, 221, 0.4);
}

.Navbar-Logo {
  width: 48px;
  height: 48px;
  margin: 8px 16px 8px -12px;
}

header.Navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background: var(--darker-night);
}

#Navbar-LeftNavbar {
  display: flex;
}

#Navbar-RightNavbar .Navbar-lang-icon {
  margin-right: 6px;
  color: var(--greyts);
}

header.Navbar-wrapper .ant-menu {
  background: var(--darker-night);
  color: var(--greyts);
}

header.Navbar-wrapper .ant-menu-item {
  font-size: 15px;
  font-weight: 500;
  background: var(--darker-night);
  color: var(--greyts);
}

header.Navbar-wrapper .ant-menu-item > a {
  color: var(--greyts);
  text-transform: uppercase;
}

header.Navbar-wrapper .ant-menu-submenu .ant-menu-submenu-title {
  text-transform: uppercase;
}

@media (min-width: 1500px) {
  header.Navbar-wrapper .ant-menu-dark.ant-menu-horizontal > .ant-menu-item {
    padding: 0 32px;
  }
}

.ant-menu-submenu-title {
  font-size: 15px;
  font-weight: 500;
}

header.Navbar-wrapper .ant-menu-submenu-horizontal.ant-menu-submenu:not(.Navbar-avatar):hover {
  background: var(--gts-orange);
  color: var(--white);
}

header.Navbar-wrapper .anticon {
  color: var(--darker-night);
}

header.Navbar-wrapper .ant-menu-submenu {
  background-color: var(--darker-night);
}

.ant-menu-submenu-popup > .ant-menu {
  background-color: var(--darker-night)!important;
}