.ant-menu-root.ant-menu.stage-selector {
  background-color: var(--night);
  box-shadow: 0 0 12px black;
}

.ant-menu-item-selected.stage-name a {
  color: var(--white);
}

.ant-menu-item-selected.stage-name a:hover {
  color: var(--white);
}