.content .TourneyCard-card {
  margin: 10px;
  overflow: hidden;
  padding: 0px;
  display: flex;
  border-radius: 8px;
}

.TourneyCard-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  backdrop-filter: blur(100px);
  display: flex;
}

.TourneyCard-content {
  margin: 48px;
}

.TourneyCard-banner {
  width: 100%;
  height: 290px;
  border-radius: var(--s);
}

.TourneyCard-description {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  line-height: 1.1;
}

.TourneyCard-container .ant-btn {
  background-color: transparent;
  justify-self: end;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
