.UserCard-outside {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 75px 350px;
  grid-template-rows: 75px;
  box-shadow: 2px 2px 8px black;
  width: 428px;
  margin: var(--s);
}

.UserCard-wide {
  grid-template-columns: 75px 440px;
  width: 517px;
}

.UserCard-avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.UserCard-content {
  padding: var(--xs);
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: var(--night);
}

.UserCard-top {
  display: flex;
  justify-content: space-between;
}

.UserCard-name {
  font-size: 16pt;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.UserCard-long {
  font-size: 14pt;
}

.UserCard-name a {
  margin-left: 4px;
}

.UserCard-rank {
  font-size: 12pt;
  display: flex;
  align-items: center;
}

.UserCard-delete {
  margin-left: var(--s);
  cursor: pointer;
}

.UserCard-captain svg {
  margin-left: var(--s);
  color: #ff8c00;
}

div .UserCard-form {
  flex-wrap: unset;
  padding: var(--s);
}

.UserCard-bad {
  color: #cc3300;
}
