.UserCard-outside {
  background-color: var(--onyx-dark);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 64px 350px;
  grid-template-rows: 64px;
  width: 427px;
  margin: var(--s);
  padding: var(--s);
}

.UserCard-wide {
  grid-template-columns: 64px 440px;
  width: 517px;
}

.UserCard-avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
}

.UserCard-content {
  padding: var(--s) var(--m);
  display: flex;
  justify-content: center;
}

.UserCard-left {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-self: center;
}

.UserCard-name {
  font-size: 16pt;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.UserCard-long {
  font-size: 14pt;
}

.UserCard-name a {
  margin-left: 4px;
}

.UserCard-rank {
  font-size: 20pt;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.UserCard-delete {
  margin-left: var(--s);
  cursor: pointer;
}

.UserCard-captain svg {
  margin-left: var(--s);
  color: #ff8c00;
}

.UserCard-supporter svg {
  margin-left: var(--s);
  color: rgb(255, 102, 171);
}

div .UserCard-form {
  flex-wrap: unset;
  padding: var(--s);
}

.UserCard-bad {
  color: #cc3300;
}
