.PastTourneyCard-container {
  background-color: #38424f;
  margin-top: var(--m);
  margin-bottom: var(--m);
  display: flex;
  flex-direction: row;
  height: 90px;
  overflow: hidden;
}

/* Needs the extra specificity to override img.ant-image-img */
img.PastTourneyCard-thumbnail {
  width: 135px;
  height: 90px;
}

.PastTourneyCard-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 12px;
  padding-right: 12px;
}

.PastTourneyCard-title {
  font-family: Red Hat Display;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

div.ant-typography.PastTourneyCard-description {
  font-family: Red Hat Display;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0px;
}

@media (min-width: 1280px) {
  .PastTourneyCard-container {
    height: 205px;
  }

  .PastTourneyCard-text-container {
    padding-left: 52px;
    padding-right: 52px;
  }

  img.PastTourneyCard-thumbnail {
    width: 485px;
    height: 205px;
  }

  .PastTourneyCard-title {
    font-size: 40px;
  }

  div.ant-typography.PastTourneyCard-description {
    font-size: 20px;
  }
}
