.SocialCard-card {
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  padding-top: 30px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
  user-select: none;
}

.SocialCard-large-text {
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
}

.SocialCard-small-text {
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
}

.SocialCard-second-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--s);
}

.SocialCard-icon {
  font-size: 24px;
}

@media (min-width: 1680px) {
  .SocialCard-large-text {
    font-size: 30px;
  }

  .SocialCard-small-text {
    font-size: 16px;
  }
}
