.LoginButton-button {
  color: #f75c03;
  font-weight: bold;
}

.LoginButton-attention {
  animation: shake 0.4s;
  animation-iteration-count: infinite;
}

.LoginButton-attention span {
  border: 2px solid red;
  padding: 12px;
  border-radius: 40%;
  animation: circle 0.6s;
  animation-iteration-count: infinite;
}

.UserDisplay-container {
  height: 48px;
  border-radius: 24px;
  padding-left: var(--l);
  padding-right: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.UserDisplay-container:hover,
.UserDisplay-container.ant-dropdown-open {
  transition: all 0.2s;
  background-color: var(--onyx-dark);
}

.UserDisplay-username {
  font-weight: 600;
  font-size: 18px;
  margin-right: var(--m);
  user-select: none;
}

button.ant-btn.login {
  padding-left: 32px;
  padding-right: 32px;
  border-width: 2px;
  border-color: transparent;
  border-radius: 4px;
  height: 44px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--dark-night);
}

button.ant-btn.login:hover {
  color: var(--dark-night);
  background-color: white;
}

button.ant-btn.login:active {
  color: black;
  background-color: var(--greyts);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
    color: rgb(255, 0, 0);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
    color: rgb(255, 127, 0);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
    color: rgb(255, 255, 0);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
    color: rgb(127, 255, 0);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
    color: rgb(0, 255, 0);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
    color: rgb(0, 255, 127);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
    color: rgb(0, 255, 255);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
    color: rgb(0, 127, 255);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
    color: rgb(0, 0, 255);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
    color: rgb(127, 0, 255);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    color: rgb(255, 0, 255);
  }
}

@keyframes circle {
  0% {
    border: 2px solid #f75c03;
  }
  50% {
    border: 6px solid red;
  }
  100% {
    border: 2px solid #f75c03;
  }
}
